<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <%# <div class="field"> %>
    <%# <%= form.label :tag_names %> %>
    <%# <%= form.text_field :tag_names, placeholder:",で区切ってください" %> %>
  <%# </div> %>

    <div class='form-group'>
      <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <div class='form-check'>
              <%= tag.label class: 'form-check-label' do %>
                  <%= tag.check_box class: 'form-check-input' %>
                  <%= tag.text %>
              <% end %>
          </div>
      <% end %>
    </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
